<!-- CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.3/normalize.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<style type="text/css">
    header.identity_bar {
        background-color: black;
        height: 52px;
        margin: 0 auto;
        max-width: 100%;
        position: relative;
        width: 100%;
    }
    header.identity_bar .logo {
        background: transparent url('https://media-mmdb.nationalgeographic.com/static-media/images/modules/landing/ngs-logo-white.png') no-repeat center center;
        display: block;
        float: left;
        height: 50px;
        margin-left: 25px;
        width: 120px;
    }
    .identity_bar a.logo_link {
        border: none;
        float: left;
        margin: .5em 0 0 .9375em;
        outline: none;
    }
    .identity_bar .mem_menu { right: 25px;}
    .identity_bar a.logo_link img {border: none;}
    section {margin-bottom: 2em;}
    .titles {text-align: center;}
    .container {width: 720px; margin-left: auto; margin-right: auto;}
    .item {display: inline-block;}
    .spacer {display: inline-block; margin-left: auto; margin-right: auto; padding: 50px; position: relative; width: 20px;}
    .vs {height: 25em; margin-top: -8em; position: absolute;  top: 50%;}
    #latest {border: 1px solid black; height: 20em; width: 100%;}
    i {color: black;}
    i.chosen {color: pink;}
    .fav_btn {float: left;}
</style>

<!-- Javascript -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- Header -->
<script src="http://cdn.gigya.com/JS/socialize.js?apikey=3_6eHDfFWWieawfL6ijN5g6UmSU1EuR5kd7CfctJQsI_YhxE1b7W7jZgGEIMmbMxpz">
{   //siteName: 'Membership', // Gigya assigns names to API keys
    enabledProviders: 'facebook, twitter',
    autoLogin: true
}
</script>
<script type="text/javascript">
    var memFragConfig = {
        mmdbHost: 'http://mmdb.dev.nationalgeographic.com:8000', // MMDB Hostname
        memcenHost: 'http://mc.dev.nationalgeographic.com:8000/_membercenter', // Member Center Hostname
        noSSL: true, // Do we want to use SSL or not? Default: True
        staticMedia: 'https://assets-qa.nationalgeographic.com/ngs-header/', // SAM Header Static Assets
        crossDomain: false, // not used right now...
        debug: true, // Load the header in debug mode?
        debug_lvl: 3, // 1-5: Different output levels for errors
        header_container: 'mem_menu', // Div ID for signin/join/logged in menu container
        whitelist: {
            origins: [ // Valid origins for header requests
                'http://mmdb.nationalgeographic.com',
                'http://members.nationalgeographic.com',
                'http://www.nationalgeographic.com',
                'http://ngm.nationalgeographic.com',
                'http://as.nationalgeographic.com'
            ],
            targets: [ // Valid targets for header requests
                'mc', // Member Center
                'mmdb', // MMDB
                'geodata'
            ]
        },
        alertContainerSelector: '#alerts' // Div ID for alert container
    };
</script>
<script type="text/javascript" src="http://assets-qa.nationalgeographic.com/ngs-header/bootstrap.js"></script>
<body>
    <header class="identity_bar clearfix">
        <div class="lessWide">
            <a class="logo" href="http://www.nationalgeographic.com"></a>
        </div>
    </header>
    <section role="main" id="main">
        <span class="titles">
            <h1><i class="fa fa-star"></i>Super Happy Fun Time Epic Ice Battle<i class="fa fa-star"></i></h1>
            <h3>Choose your favorite Vanilla Ice photo!</h3>
        </span>
    </section>
    <section id="images" class="container">

            <div class="item">
                <img src="http://www.nicenicejpg.com/200/350" />
                <span class="fav_btn">
                    <a id="ice1" type="fav" href="#">
                        <i class="fa fa-heart fa-lg"></i>
                    </a>
                </span>
            </div>
            <div class="spacer">
                <span class="vs">
                    <h1>vs</h1>
                </span>
            </div>
            <div class="item">
                <img src="http://www.nicenicejpg.com/350" />
                <span class="fav_btn">
                    <a id="ice2" type="fav" href="#">
                        <i class="fa fa-heart fa-lg"></i>
                    </a>
                </span>
            </div>

    </section>
    <!--<section id="activity" class="container">
        Now stop, collaborate, and listen in on the favorites activity:<br>
        <div id="latest"></div>
    </section>-->
</body>
<script type="text/javascript">
    // Global Vars
    var servicehost = 'http://as.nationalgeographic.com:9365',
        apiHost = servicehost + '/api/v1',
        user_id = '',
        user_type = 'mmdb_user',
        photo_type = 'yourshot_photo',
        activity_type = 'FAVORITED',
        headerObj;

    // Set up access to the header internals
    _M.ready(function(core) { 
        var user = core.flow.getUser();
        headerObj = core;
        user.loggedIn(function() { 
            console.log('fired');
            user_id = localStorage.getItem('memFrag/User/id');
            socket.post('/api/v1/subscribe', { user: user_id });
            favUpdate();
        });
    });

    // Update photos already liked
    function favUpdate() {
        if (typeof user_id !== 'undefined' && user_id !== null) {
            $.get(apiHost + '/' + user_type + '/' + user_id + '/' + activity_type + '/' + photo_type, function(data) {
                $.each(data, function(i,k) {
                    $.each(k.object.data, function(l,m) {
                        if (l === (photo_type + '_id')) {
                            var hearts = $('#' + m + ' i');
                            $('a').find(hearts).addClass('chosen');
                        }
                    })
                });
            });
        }
    }

    // Event Handlers
    $('a[type="fav"]').click(function(e) {
        if (user_id !== '') {
            var heart, photo_id, favObj = {};

            heart = $('i', this);
            photo_id = $(this).attr('id');

            favObj.actor = {type: user_type, mmdb_user_id: user_id};
            favObj.verb = {type: activity_type};
            favObj.object = {type: photo_type, yourshot_photo_id: photo_id};

            if (!heart.hasClass('chosen')) {
                $.ajax({
                    type: 'POST',
                    contentType: 'application/json',
                    url: apiHost + '/activity',
                    data: JSON.stringify(favObj)
                }).done(function() {
                    heart.addClass('chosen');
                });
            } else {
                delUrl = '/' + user_type + '/' + user_id + '/FAVORITED/' + photo_type + '/' + photo_id 
                $.ajax({
                    type: 'DELETE',
                    contentType: 'application/json',
                    url: apiHost + delUrl,
                }).done(function() {
                    heart.removeClass('chosen');
                });
            };
            
            return false;
        } else {
            headerObj.flow.processFlow('signin');
        }
    });

</script>
