<div>Check your console for the load test</div>
<script src="/js/jquery.min.js"></script>
<script>
    $(function() {
        console.log('starting this crazy thing');
        var rand_user, rand_photo, i;
        for (i=0; i<100; i++) {
            setTimeout(function() {
                rand_user = Math.round(Math.random()*100);
                rand_photo = Math.round(Math.random()*100);
                var data = {
                    actor: { type: 'exampleapp_user', aid: rand_user, api: 'exampleapp_user.api/{rand_user}'},
                    verb: { type: 'FAVORITED' },
                    object: { type: 'exampleapp_photo', aid: rand_photo, api: 'exampleapp_photo.api'}
                };
                $.ajax({
                    type: 'POST',
                    url: 'http://as.dev.nationalgeographic.com:9365/api/v1/activity',
                    data: data,
                    dataType: 'json',
                    xhrFields: {
                        withCredentials: true
                    }
                }).done(function(input) {
                    console.log(input);
                });
            }, 500+i*10);
        }
    });
</script>
